.header {
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center; /* Выравниваем элементы по вертикали */
    font-family: 'Montserrat', sans-serif;
    height: 150px;
}

.header-top {
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-home-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.header-bottom {
    background-color: #003366;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Расстояние между логотипом и текстом */
    overflow: hidden;
}

.logoContainer img {
    height: 100%;
    object-fit: contain; /* Убедиться, что логотип не растягивается */
    transform: scale(1.2);
}

.logoContainer h1 {
    font-size: 1.5rem;
    margin: 0; /* Убираем лишние отступы */
    line-height: 1; /* Высота строки совпадает с размером шрифта */
    color: #003366;
}

.navigation a {
    margin: 0 10px;
    padding: 10px 12px;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон при наведении */
    color: #f0f0f0; /* Светлый оттенок текста при наведении */
}

