.rehab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.rehab-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Адаптивные колонки */
    gap: 3%; /* Расстояние между карточками */
    padding: 0 6%;
    width: 100%;
}

.rehab-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.rehab-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.rehab-image {
    width: 100%;
    object-fit: contain;
    border-radius: 2%;
}

.rehab-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.rehab-card p {
    font-size: 1rem;
    color: gray;
    text-align: left;
    padding: 0 14px;
}

.price-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
}

.price-table th, .price-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.price-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.price-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.price-table tr:hover {
    background-color: #f1f1f1;
}

.note {
    font-size: 0.9rem;
    color: gray;
    margin-top: 20px;
    text-align: left;
    width: 100%;
    max-width: 1200px;
}
