.about-container {
    font-family: 'Playfair Display', sans-serif;
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ececec, white);
}

.about-description-grid {
    display: grid;
    width: 70%;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    padding: 2% 2%;
}

.about-description-left {
    margin-right: 20px;
}

.about-sanatorium {
    margin-right: 50%;
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 7px;
    border-bottom: 3px solid #003366;
}

.about-sanatorium-big-text {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}

.about-sanatorium-default-text p {
    color: black;
    font-weight: normal;
    text-align: left;
    font-size: 1.2rem;
/*    padding: 0.2% 0.2%;*/
}

.about-description-right {
    margin-left: 20px;
    padding-top: 20px;
}

.about-sanatorium-right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
