.procedure-container {
    padding: 20px;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.procedure-card-padding-container {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.procedure-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.procedure-card {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    max-width: 1460px;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
}

.procedure-text {
    padding: 20px;
    flex: 1;
}

.procedure-text h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.procedure-text p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    padding: 2%;
    margin-top: -2%;
    margin-bottom: -2%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.gallery-image {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
}
